body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  background-color: #ECECEC;
  height: 300px; 
  margin-top: 7em;
}

._card {
  width: 25em;
  /* width: 80%; */
}

.card-text {
  text-align: justify;
  font-family: 'Manrope', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

.container_img_card {
  width: 750px;
  height: 500px;
  margin-left: 5em;
}

.img_card {
  width: 100%;
  height: 100%;
}

.sub-title {
  border-bottom: 1px solid #5b0d93;
  border-bottom-width: 3px;
  padding-bottom: 5px;
  /* font-weight: 300; */
}
